html {
    font: 12px/1.5 system-ui, sans-serif;

    @media (min-width: 768px) {
        font-size: 14px;
    }

    @media (min-width: 1024px) {
        font-size: 18px;
    }
}

a {
    text-decoration: none;
    color: var(--clr-neutral-black);
}

body, button, table, form {
    font: inherit;
}